name: release

on:
  push:
    branches: ["main"]
    tags-ignore: ['**']


jobs:
  tests:
    uses: ./.github/workflows/tests.yml 
  tag-release:
    runs-on: ubuntu-latest
    needs: [tests]
    steps:
      - uses: actions/checkout@v4
        with: # important, must be defined on checkout to kick publish (defining in setup/node doesn't work)
          token: ${{ secrets.GH_TOKEN || github.token }}
      
      - name: load runtime versions
        id: load-versions
        run: |
          GO_VERSION=$(cat .prototools | grep 'go' | cut -d'=' -f2 | cut -d' ' -f2 | cut -d'"' -f2)
          NODE_VERSION=$(cat .prototools | grep 'node' | cut -d'=' -f2 | cut -d' ' -f2 | cut -d'"' -f2)
          NODE_VERSION="${NODE_VERSION}.x"
          echo "GO_VERSION=$GO_VERSION" >> $GITHUB_ENV
          echo "NODE_VERSION=$NODE_VERSION" >> $GITHUB_ENV    

      - name: node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          # cache: "npm" # needs lockfile if enabled

      - name: go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - name: tag release
        run: |
          # ignore if commit message is chore(release): ...
          if [[ $(git log -1 --pretty=%B) =~ ^chore\(release\):.* ]]; then
            echo "Commit message starts with 'chore(release):', skipping release"
            exit 0
          fi
          git config --local user.email "creadbot@github.com"
          git config --local user.name "creadbot_github"
          set -ev
          npm install
          npm run sync
          if [[ -n $(git status -s) ]]; then
            git add -A
            git commit -am "chore(release): sync aws-sdk-go-v2"
          fi
          npx commit-and-tag-version
          git push -f
          git push --tags
