name: tests

on:
  workflow_call:
  pull_request:
    branches: ["main"]
    paths-ignore:
      - '.devcontainer/**'
      - '.github/workflows/**'
permissions:
  contents: read

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with: # important, must be defined on checkout to kick publish (defining in setup/node doesn't work)
          token: ${{ secrets.GH_TOKEN || github.token }}
      
      - name: load runtime versions
        id: load-versions
        run: |
          GO_VERSION=$(cat .prototools | grep 'go' | cut -d'=' -f2 | cut -d' ' -f2 | cut -d'"' -f2)
          NODE_VERSION=$(cat .prototools | grep 'node' | cut -d'=' -f2 | cut -d' ' -f2 | cut -d'"' -f2)
          NODE_VERSION="${NODE_VERSION}.x"
          echo "GO_VERSION=$GO_VERSION" >> $GITHUB_ENV
          echo "NODE_VERSION=$NODE_VERSION" >> $GITHUB_ENV    

      - name: node
        uses: actions/setup-node@v4
        with:
          node-version: ${{ env.NODE_VERSION }}
          # cache: "npm" # needs lockfile if enabled

      - name: go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}

      - name: go
        uses: actions/setup-go@v4
        with:
          go-version: ${{ env.GO_VERSION }}
      - run: npm install
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6
        with:
          version: v1.59
          args: --timeout=15m
      - run: npm test
